---
interface Player {
  names: string[];
  scores: (number | string)[];
  isActive?: boolean;
  highlightedScores?: number[];
}

interface Props {
  tournamentName: string;
  round: string;
  time?: string; // Сделали time необязательным
  players: Player[];
  court: string;
  status: string;
  className?: string;
  iconBlock?: string;
  highlightIndex?: number;
  stat?: string;
}

const { tournamentName, round, time, players, court, status, className = "", iconBlock = "", highlightIndex, stat } = Astro.props;
---

<!-- matchTable -->
<div class={`shadow-box rounded-2xl border-2 px-4 py-1 match-table ${className}`}>
  <table class="text-black w-full font-Inter">
    <tr class="text-xs text-darkest">
      <td class="py-1 px-2" colspan="6">
        <div class="flex items-center justify-between">
          <div class="flex gap-3 items-center">
            {iconBlock ? <Fragment set:html={iconBlock} /> : ''}
            <span>{tournamentName}</span>
          </div>
          <div class="flex items-center gap-2 justify-end">
            <span>{round}</span>
            {time && ( 
              <div class="flex gap-3 items-center">
                <div class="flex-shrink-0">
                  <img src="images/time-ico.svg" width="17" alt="" />
                </div>
                <span>{time}</span>
              </div>
            )}
          </div>
        </div>
      </td>
    </tr>

    {players.map((player, playerIndex) => (
      <tr>
        <td class="py-1 px-2">
          <div class={`relative h-10 flex flex-col justify-center ${player.isActive ? 'player-active' : ''}`}>
            {player.names.map((name, nameIndex) => (
              <div class="relative leading-5 h-5">
                <span class="absolute left-0 top-0 text-ellipsis whitespace-nowrap overflow-hidden w-full fontsize">
                  <span class="text font-Inter font-medium">{name}</span>
                </span>
              </div>
            ))}
          </div>
        </td>
        {player.scores.map((score, td_index) => {
          const isHighlighted = player.highlightedScores?.includes(td_index);
          const highlightClass = highlightIndex != null && td_index === highlightIndex
            ? playerIndex === 0 ? 'rounded-t-full bg-highlight2' : 'rounded-b-full bg-highlight2'
            : '';
          
          return (
            <td
              class={`py-1 w-8 text-center ${highlightClass} ${isHighlighted ? 'text-darkest' : ''}`}
            >
              {score === 'checked' ? (
                <img src="images/checked.svg" class="mx-auto" width="15" alt="Checked" />
              ) : (
                score
              )}
            </td>
          );
        })}
      </tr>
    ))}

    <tr class="text-xs text-darkest">
      <td class="pb-1 px-2" colspan="7">
        <div class="flex items-center gap-2 justify-between text-highlight1">
          {stat && (
            <div>
              <img src="images/stat-ico.svg" alt="" width={players.some(player => player.names.length === 2) ? "14" : "20"} />
            </div>
          )}
          <span class="uppercase">{status}</span>
          <span>{court}</span>
        </div>
      </td>
    </tr>
  </table>
</div>
<!-- end matchTable -->
